# SPDX-License-Identifier: Apache-2.0
# Copyright (c) 2020 Intel Corporation

---

apiVersion: v1
kind: Namespace
metadata:
  labels:
    sdewanPurpose: {{ .Values.metadata.labels }}
  name: {{ .Values.metadata.namespace }} 

