# Copyright (c) 2022 A5G Networks Inc.
# Default values for a5gblu-mme.
# This is a YAML-formatted file.
# Declare variables to be passed into your templates.

global:
  image:
    name: "a5g-blu-x86_64"
    # Overrides the image tag whose default is the chart Version.
    tag: "1.0.0"
    registryUrl: ""
    pullPolicy: IfNotPresent
  
  peer:
    mongoServiceName: "a5gblu-mongo-1-0-0-service-mongo"
    mmeServiceName: "a5gblu-mme-1-0-0-service-mme"

  sidecar:
    fluentbit:
      enabled: true
      image: a5gblu-fluentbit-amd64:v1.8.2