# SPDX-License-Identifier: Apache-2.0
# Copyright (c) 2020 Intel Corporation

---

- name: enable and start docker service
  systemd:
    name: docker
    enabled: yes
    masked: no
    state: restarted
    daemon_reload: yes
