apiVersion: v1
kind: Service
metadata:
  name: {{ include "a5gblu.smfsvc" . }}
  namespace: {{ .Release.Namespace }} 
  labels:
    epc-mode: smf
spec:
  clusterIP: None
  ports:
  - name: gx
    port: 3868
    protocol: TCP  
  - name: pfcp
    port: 8805
    protocol: UDP
  - name: s11
    port: 2123
    protocol: UDP
  selector:  
    epc-mode: smf        
---
apiVersion: apps/v1 # for versions before 1.9.0 use apps/v1beta2
kind: StatefulSet
metadata:
  name: {{ include "a5gblu.chart" . }}-smf
  namespace: {{ .Release.Namespace }}
  labels:
    epc-mode: smf
spec:
  replicas: 1
  serviceName: {{ include "a5gblu.smfsvc" . | quote }}
  selector:
    matchLabels:
      epc-mode: smf
  template:
    metadata:
      labels:
        epc-mode: smf
    spec:
      imagePullSecrets:
      - name: a5gblu-artifact
      containers:
        - name: smf
          image: {{ include "a5gblu.imageUrl" . }} 
          imagePullPolicy: {{ .Values.global.image.pullPolicy }}
          command: ["/home/a5gblu/bin/a5gblu-smfd", "-c", "/home/a5gblu/configmap/smf.yaml"]
          env:
            - name: LD_LIBRARY_PATH
              value: "/home/a5gblu/lib/x86_64-linux-gnu:/home/a5gblu/lib/x86_64-linux-gnu/freeDiameter:/usr/lib/x86_64-linux-gnu"
          volumeMounts:
          - name: a5gblu-smf-config
            mountPath: /home/a5gblu/configmap/smf.yaml
            subPath: "smf.yaml"
          - name: a5gblu-smf-diameter
            mountPath: /home/a5gblu/configmap/diameter-smf.conf
            subPath: "diameter-smf.conf"               
          - name: a5gblu-storage-log
            mountPath: /mnt/log
{{ include "a5gblu.fluentbitSidecarDef" . | indent 8 }}
      volumes:
        - name: a5gblu-smf-config
          configMap:
            name: {{ include "a5gblu.configmapPrefix" . }}-smf
        - name: a5gblu-smf-diameter
          configMap:
            name: {{ include "a5gblu.configmapPrefix" . }}-smf-diameter
        - name: a5gblu-storage-log
          emptyDir: {}
