# SPDX-License-Identifier: Apache-2.0
# Copyright (c) 2020 Intel Corporation

---

image: "{{ docker_registry_address }}/{{ docker_name }}:{{ eis_version }}"
cameraStreamPort: {{ camera_stream_port }}
