apiVersion: v1
kind: Service
metadata:
  name: {{ include "a5gblu.sgwusvc" . }}
  namespace: {{ .Release.Namespace }}
  labels:
    epc-mode: sgw-u
spec:
  clusterIP: None   
  selector:
    epc-mode: sgw-u      
---
apiVersion: v1
kind: Service
metadata:
  name: {{ include "a5gblu.svcPrefix" . }}-s1u
  namespace: {{ .Release.Namespace }}
  labels:
    epc-mode: sgw-u
spec:
  type: LoadBalancer
  loadBalancerIP: {{ .Values.global.loadBalancerServiceIP.s1u }}
  ports:
  - name: s1u
    port: 2152
    protocol: UDP
    targetPort: 2152
  selector:
    epc-mode: sgw-u  
---
apiVersion: apps/v1 # for versions before 1.9.0 use apps/v1beta2
kind: StatefulSet
metadata:
  name: {{ include "a5gblu.chart" . }}-sgw-u
  namespace: {{ .Release.Namespace }}
  labels:
    epc-mode: sgw-u
spec:
  replicas: 1
  serviceName: {{ include "a5gblu.sgwusvc" . }}
  selector:
    matchLabels:
      epc-mode: sgw-u
  template:
    metadata:
      labels:
        epc-mode: sgw-u
        kubernetes.io/hostname: {{ .Values.global.userplaneNode }} 
    spec:
      nodeSelector:
        kubernetes.io/hostname: {{ .Values.global.userplaneNode }}
      imagePullSecrets:
      - name: a5gblu-artifact
      containers:
        - name: sgwu
          image: {{ include "a5gblu.imageUrl" . }}
          imagePullPolicy: {{ .Values.global.image.pullPolicy }}
          command: ["/home/a5gblu/bin/a5gblu-sgwud", "-c", "/home/a5gblu/configmap/sgwu.yaml"]
          volumeMounts:
            - name: a5gblu-sgwu-config
              mountPath: /home/a5gblu/configmap/sgwu.yaml
              subPath: "sgwu.yaml"
            - name: a5gblu-storage-log
              mountPath: /mnt/log
{{ include "a5gblu.podgwSidecarDef" . | indent 8 }}
{{ include "a5gblu.fluentbitSidecarDef" . | indent 8 }}
      volumes:
        - name: a5gblu-sgwu-config
          configMap:
            name: {{ include "a5gblu.configmapPrefix" . }}-sgwu
        - name: a5gblu-storage-log
          emptyDir: {}
{{ include "a5gblu.podgwSidecarVolumeDef" . | indent 8 }}
