{
    "/Visualizer/config": {
        "display": "{{ display_gui }}",
        "save_image": "{{ save_image }}",
        "labels" : {
            "camera1_stream_results":{
                "1": "safety_helmet",
                "2": "safety_jacket",
                "3": "Safe",
                "4": "Violation"
            }
        }
    }
}
