{
    "/Visualizer/config": {
        "display": "{{ display_gui }}",
        "save_image": "{{ save_image }}",
        "labels" : {
            "camera1_stream_results": {
                "0": "MISSING",
                "1": "SHORT"
            }
        }
    }
}
