# SPDX-License-Identifier: Apache-2.0
# Copyright (c) 2020 Intel Corporation

---

image: "{{ docker_registry_address }}/{{ docker_name }}:{{ eis_version }}"
dockerRegistryEndpoint: "{{ docker_registry_address }}"
cameraStreamResultsPort: {{ camera_stream_results_port }}
devMode: "{{ dev_mode }}"
eisInstallPath: "{{ eis_install_path }}"
publisherPodService: "{{ publisher_pod_service }}"
appName: "{{ app_name }}"
eisSecretsPath: "{{ eis_secrets_path }}"
certPath: "{{ eis_secrets_path }}/{{ cert_name }}"
keyPath: "{{ eis_secrets_path }}/{{ key_name }}"
rootCACertPath: "{{ eis_secrets_path }}/{{ rootca_cert_name }}"
