{
    "/VideoIngestion/config": {
        "encoding": {
            "type": "jpeg",
            "level": 95
        },
        "ingestor": {
            "type": "opencv",
            "pipeline": "rtspsrc location=\"rtsp://{{ rtsp_camera_stream_ip }}:{{ rtsp_camera_stream_port }}/\" latency=100 ! rtph264depay ! h264parse ! avdec_h264 ! videoconvert ! appsink max_buffers=100 drop=true",
            "loop_video": true,
            "queue_size": 10,
            "poll_interval": 0.2
        },
        "max_jobs": 20,
        "max_workers":4,
        "sw_trigger": {
            "init_state": "running"
        },
        "udfs": [{
            "name": "dummy",
            "type": "native"
        }]
    }
}
