{
 "/WebVisualizer/config": {
        "labels": {
            "camera1_stream_results": {
                "1": "safety_helmet",
                "2": "safety_jacket",
                "3": "Safe",
                "4": "Violation"
            }
        },
        "password": "admin@123",
        "port": {{ web_visualizer_port }},
        "username": "admin"
    }
}
