{
 "/WebVisualizer/config": {
        "labels": {
            "camera1_stream_results": {
                "0": "MISSING",
                "1": "SHORT"
            }
        },
        "password": "admin@123",
        "port": {{ web_visualizer_port }},
        "username": "admin"
    }
}
